/* Подключим шрифт лоакально */
@font-face {
    font-family: "Source Sans 3";
    src: url("fonts/SourceSans3-VariableFont_wght.ttf");
}

/* Обнуление сайта */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
}


/* Для плавной прокрутки */
html {
  scroll-behavior: smooth;
}

:root{
    --blue: #007BFF;
}

.wow {
    opacity: 0;
    transition: all 0.3s 0.3s ease-out;
}
.animated {
    opacity: 1;
}

/* Light theme */
.light-theme{
    background-color: #FFFFFF;
    color: #444452;
}

/* Dark theme */
.dark-theme{
    background-color: #171c28;
    color: #E7E7E7;
}

header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    display: flex;
    align-items: center;
    min-height: 75px;
    flex-direction: row;
    background-color: inherit;
    box-shadow: 3px 0 32px 1px rgba(255, 255, 255, 0.219);
    div{
        width: 200px;
    }
    nav{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        a{
            padding: 10px 25px;
            color: inherit;
            margin: 10px 0;
            text-decoration: none;
            font-size: 18px;
            font-weight: 500;
            transition: .4s;
        }
    }
}

/* Switch theme */
.switch-label{
    height: 34px;
    input{
        display: none;
    }
    span{
        width: 68px;
        height: 34px;
        display: inline-block;
        border-radius: 34px;
        background-color: #ccc;
        position: relative;
        margin: 0 10px;
    }
    span:after{
        width: 26px;
        height: 26px;
        background-color: white;
        border-radius: 50%;
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        transition: .4s;
    }
    input:checked + span:after{
        transform: translateX(34px);
        transition: .4s;
    }
    input:checked + span{
        background-color: #007BFF;
    }
}

.link{
    text-decoration: none;
    border-bottom: solid #007BFF 4px;
    color: #E7E7E7;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;

    &:visited{
        color: inherit;
    }

    &::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        height: 1px;
        transition: .5s;
        width: 100%;
        background-color:#007BFF;
    }
    &:hover{
        color: white !important;
        transition: .4s;
    }
    &:hover::after{
        height: 100%;
    }
    
}
.project{
    margin-bottom: 50px;

    &:last-child{
        margin-bottom: 0;
    }
}
.other-project{
    width: 100%;
    margin-bottom: 50px;
}
.other-project p{
    margin-bottom: 10px;
}
.other-project article{
    display: flex;
}
.other-project article a{
    margin-left: 20px;

    &:hover::after{
        margin-left: 60px;
    }
}
.change-theme{
    img{
        width: 26px;
        height: 26px;
    }
}
.shadow{
    display: none;
    width: 100%;
    height: 100vh;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: #000000c4;
}
#show-burger-menu{
    display: none;
    width: 40px;
    height: 40px;
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    top: 20px;
    right: 20px;
    z-index: 1001;
    transition: .4s all;
    span{
        display: inline-block;
        width: 40px;
        border-radius: 2px;
        border: 2px solid white;
        transition: .3s all;
    }
    input{
        display: none;
    }
    &:has(>input:checked){
        span{
            position: absolute;
        }
        .line2{
            display: none;
        }
        .line1{
            transform: rotate(45deg);
        }
        .line3{
            transform: rotate(-45deg);
        }
    }
}

#show-burger-menu:has(>input:checked) + header{
    left: auto;
    right: 0;
    transform: translateX(0);
}
body:has(#show-burger:checked) > .shadow{
    display: flex;
}

.teg{
    font-size: 16px;
    border: #007BFF 1px solid;
    color: #007BFF;
    border-radius: 5px;
    padding: 2px 10px;
    font-weight: 600;
    margin-right: 10px;
    transition: .4s;

    &:hover{
        transition: .4s;
        cursor: pointer;
        background-color: #007BFF;
        color: white;
    }
}

.tegs{
    display: flex;
    flex-wrap: wrap;
}
.project-link{
    text-decoration: none;
    font-size: 28px;
    font-weight: 600;
    margin-top: -5px;
    position: relative;
    top: 0;
    transition: transform .4s ease-in-out;

    &:hover{
        transform: translate3d(20px, 0px, 0px);
    }
}
.autor{
    font-size: 18px;
    font-weight: 600;
}
.footer{
    width: 100vw;
    display: flex;
    justify-content: left;
    padding-left: 10vw;
    margin-bottom: 50px;
}
.footer article{
    width: 300px;
}

/* Чтобы fixed header имитировать */
.hello{
    padding-top: 100px;
}

/* Для десктопа */
@media screen and (min-width: 768px){

}

/* Для планшета */
@media (min-width: 401px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hello{
        height: 100vh;
        width: 1800px;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .change-theme{
        /* width: 100%; */
        /* height: 10vh; */
        display: flex;
        justify-content: right;
        /* padding-right: 8vw; */
        align-items: center;
    }
    .change-theme i{
        /* margin: 0 10px; */
    }
    .hello-text{
        width: 600px;
        height: 80vh;
        display: flex;
        align-items: left;
        justify-content: space-around;
        flex-direction: column;
        margin-left: 400px;
    }
    .hello-main{
        display: flex;
        width: 100%;
        height: 80vh;
    }
    .hello-image{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 800px;
        height: 80vh;
    }
    .i-photo{
        width: 400px;
        height: 400px;
        border-radius: 50%;
        object-fit: cover;
        background-size: cover;
    }
    .main{
        width: 1000px;
        margin: auto;
    }
    .main>article{
        width: 100%;
        display: flex;
        margin-bottom: 100px;
    }
    .main>article .name{
        width: 30%;
        display: flex;
        justify-content: right;
        padding-right: 3%;
        padding-top: 3%;
    }
    .main>article .content{
        width: 70%;
        padding-top: 3%;
        padding-left: 5%;
        /* padding-right: 5%; */
        display: flex;
        flex-direction: column;
    }
    /* Constants */
    .time{
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 2px;
        width: 40%;
    }
    .h{
        font-size: 16px;
        font-weight: 600;
    }
    .zag{
        font-size: 38px;
        font-weight: 300;
    }
    .medium{
        font-size: 24px;
        font-weight: 400;
    }
    .base{
        font-size: 16px;
        color: #afafbf;
        font-weight: 400;
    }
    .section_name{
        color: #007BFF;
        font-weight: 800;
        font-size: 18px;
    }
    .skills .content{
        display: grid !important; 
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 20px 200px;
    }
    .skills_list{
        display: flex;
        flex-direction: column;
        div{
            display: flex;
            gap: 4px;
            height: max-content;
            align-items: center;
        }
    }
    .skills_list div{
        margin-top: 3px;

        &:first-child{
            margin-top: 10px;
        }
    }
    .experience .content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .exp_pos{
        display: flex;
        justify-content: space-between;
        height: 50px;
        width: 100%;
        margin-bottom: 30px;
    }
    .exp_pos_data{
        display: flex;
        flex-direction: column;
    }
    .exp_pos_data .h{
        margin-bottom: 4px;
    }
    .project-img{
        width: 600px;
        height: 400px;
        object-fit: cover;
        background-color: cover;
        border-radius: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

/* Для телефона */
@media (max-width: 400px){
    /* Сделаем бургер меню */
    .shadow{
        /* display: flex; */
    }
    #show-burger-menu{
        display: flex;
    }
    header{
        position: fixed;
        box-shadow: none;
        top: 0;
        right: 0;
        transform: translateX(100%);
        z-index: 1000;
        display: flex;        
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding: 0;
        width: 70%;
        height: 100%;
        transition: .8s;
        >div{
            display: none;
        }
        nav{
            display: flex;
            flex-direction: column;
            gap: 6px;
            width: 100%;
            a{
                margin: 0;
                transition: .4s;
                border-radius: 4px;
                padding-left: 8px;
                margin-left: 25px;
                margin-right: 25px;
                &:hover{
                    transition: .4s;
                    background-color: #00000052;
                }
            }
        }
        .change-theme{
            justify-content: space-between;
            >div{
                display: flex;
                height: 100%;
                align-items: center;
                padding: 0 20px;
            }
        }
    }
    .hello{
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    .change-theme{
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: right;
        padding-right: -4vw;
        align-items: center;
    }
    .change-theme i{
        margin: 0 10px;
    }
    .hello-text{
        width: 80vw;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
    }
    .hello-main{
        display: flex;
        width: 100vw;
        align-items: center;
        flex-direction: column-reverse;
        
    }
    .hello-image{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .i-photo{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
        background-size: cover;
    }
    .main{
        width: 75vw;
        margin: auto;
    }
    .main>article{
        width: 100%;
        display: flex;
        flex-direction: column;
        /* margin-bottom: 100px; */
        margin-top: 80px;
    }
    .main>article .name{
        width: 100%;
        padding-left: -20px;
        display: flex;
    }
    .main>article .content{
        width: 100%;
        padding-top: 3%;
        padding-left: 3%;
        display: flex;
        flex-direction: column;
    }
    .skills .content{
        display: grid !important; 
        grid-template-columns: 1fr 1fr;
    }
    .list1{
        grid-column: 1;
        grid-row: 2;
    }
    .list2{
        grid-column: 2;
        grid-row: 2;
    }
    .txt3{
        margin-top: 30px;
        grid-column: 1;
        grid-row: 3;
    }
    .txt4{
        margin-top: 30px;
        grid-column: 2;
        grid-row: 3;
    }
    .skills_list{
        display: flex;
        flex-direction: column;
    }
    .skills_list div{
        display: flex;
        margin-top: 3px;

        &:first-child{
            margin-top: 10px;
        }
    }
    .exp_pos{
        display: flex;
        justify-content: space-between;
        /* height: 50px; */
        width: 100%;
        margin-bottom: 30px;
    }
    .exp_pos_data{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .exp_pos_data .h{
        margin-bottom: 4px;
    }
    /* Constants */
    .zag{
        font-size: 24px;
        font-weight: 300;
    }
    .medium{
        font-size: 20px;
        font-weight: 400;
    }
    .base{
        font-size: 16px;
        color: #afafbf;
        font-weight: 400;
    }
    .section_name{
        color: #007BFF;
        font-weight: 800;
        font-size: 18px;
        margin-top: 30px;
    }
    .h{
        font-size: 16px;
        font-weight: 600;
    }
    .time{
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 2px;
        width: 50%;
    }
    .project-img{
        width: 270px;
        height: 180px;
        object-fit: cover;
        background-color: cover;
        border-radius: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}